/server/venv
/server/__pycache__
/server/readers/__pycache__
/server/routes/__pycache__
/server/services/__pycache__
/client/node_modules
/client/.bolt
/server/nf_ml.pdf
/server/nf_sh.xml
/server/nf_shopee.pdf
/server/teste.py